body{
    background-image: url(depositphotos_98504952-stock-illustration-social-media-doodles-background-with.jpg);
    background-size: 600px;
}

.heading{
    font-size: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer{
    bottom: 0;
    position: fixed;
    color: white;
    background-color: grey;
    width: 100%;
    line-height: 3;
    text-align: center;
}